*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    max-width: 20rem;
    border: 2px red solid;
}

.results{
    border: 2px red solid;
}

.summary{
    border: 2px red solid;
}